# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Compile and publish local

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Android
      run: ./gradlew clean :test:android:buildDebug
    - name: Build Desktop
      run: ./gradlew :test:desktop:build :test:lwjgl3:build
    - name: Build iOS
      run: ./gradlew :test:ios:build
    - name: Build GWT
      run: ./gradlew :test:html:build
    - name: Local install
      run: ./gradlew publishToMavenLocal
