name: Compile and publish snapshot

on:
  push:
    branches:
      - master
      - release/**
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Android
      run: ./gradlew clean :test:android:buildDebug
    - name: Build Desktop
      run: ./gradlew :test:desktop:build :test:lwjgl3:build
    - name: Build iOS
      run: ./gradlew :test:ios:build
    - name: Build GWT
      run: ./gradlew :test:html:build
    - name: Publish snapshot
      env:
        NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
        NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
      run: ./gradlew publish
